.tooltip-danger .tooltip-inner {
   background: #f00;
}

/* .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #f00; black
  border-width: 0 5px 5px;
} */